.box {
  margin: 10px;
  width: 500px;
  height: 550;
  border: 1px solid black;
  background-color: white;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
  font-size: 20pt;
}

.item-img {
  width: 400px;
}

.main {
  display: flex;
  justify-content: center;
}
.win {
  border: 10px solid blue;
  color: blue;
}
.lose {
  border: 10px solid red;
  color: red;
}
.tie {
  border: 10px solid gold;
  color: gold;
}